.container {
    text-align: center;
    height: 400px;
    margin-top: 20px;
    display: flex;

    .title {
        position: absolute;
        font-family: Lato;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        color: black;
        word-break: none;
        min-width: 1060px;
    }
}

> app-news-item {
    padding: 15px;
}