.container {
    text-align: center;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    // TODO: Make the news stack upon resizing the window, ie css grid

    .title {
        position: absolute;
        font-family: Lato;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        color: black;
        word-break: none;
        min-width: 1060px;
    }
    
    #items > * {
        padding-right: 15px;
    }

    .show-more {
        width: 350px;
        height: 350px;
        text-align: center;
        margin-top: 60px;
        background-color: #1E1E1E;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        transition: 0.2s linear;

        .text {
            margin-top: 160px;    
        }
    }

    .show-more:hover {
        background-color: white;
        border: 1px solid #1E1E1E;
        color: #1E1E1E;
        transition: 0.2s linear;
    }
}
