<div class="col-md-12 analytics">
    <div class="col-md-12 details">
        <app-analytic-detail title="1.5M+"
            subtitle="Lines of code written"
            icon="assets/computer-icon.png"
            [isServices]=false
        ></app-analytic-detail>
        <app-analytic-detail title="10K+"
            subtitle="Commits"
            icon="assets/commits-icon.png"
            [isServices]=false
        ></app-analytic-detail>
        <app-analytic-detail title="8"
            subtitle="Projects delivered"
            icon="assets/projects-delivered-icon.png"
        ></app-analytic-detail>
        <app-analytic-detail title="5"
            subtitle="Associates"
            icon="assets/handshake-icon.png"
            [isServices]=false
        ></app-analytic-detail>
    </div>
    <br>
    <span class="subtitle">... BUT WHO'S COUNTING?</span>
</div>