@import '../../../../../styles.scss';

.analytics {
    height: auto;
    width: auto;
    text-align: center;
    margin-left: 80px;
    min-width: 950px;

    .details {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: white;

        & > app-analytic-detail {
            padding: 85px;
        }
    }

    .subtitle {
        font-family: Open Sans;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 11px;
    }
}