
.item {
    text-align: center;

    .icon {
        display: block;
        margin: auto;
        height: 30px;
        width: auto;
    }
    
    .title {
        color: black;
    }
    
    .subtitle {
        font-family: Open Sans;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.item-service {
    text-align: center;
    width: 300px;

    .icon-service {
        display: block;
        margin: auto;
        height: 90px;
        width: auto;
    }
    
    .title-service {
        color: white;
        font-family: Open Sans;
        font-weight: 300;
        font-size: 35px;
    }
    
    .subtitle-service {
        font-family: Open Sans;
        font-weight: 300;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
    }
}