
.item {
    text-align: center;
    ::-ms-tooltip

    .icon {
        display: block;
        margin: auto;
        height: 30px;
        width: auto;
    }
    
    .title {
        color: black;
    }
    
    .subtitle {
        font-family: Open Sans;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
    }
}