<div class="col-md-12 container">
    <div class="text">
        <span>Sapplink was founded in Toronto, in the winter of 2017.</span>
        <br>
        <br>
        <span>Having been started off as a freelancing venture, Sappplink was initially involved with web application development, and product / brand / graphical design.</span>
        <br>
        <br>
        <span>Since its inception, Sapplink has continued to be heavily vested in building brands, as well as designing and developing internal software products using latest technologies and enterprise best practices to address gaps in the market.</span>
        <br>
        <br>
        <span>Thanks to its versatility, Sapplink plans on growing into external markets by providing (consulting or partner) services on various projects in the realm of Web & Mobile Application Development, Digital Transformation, and Machine Learning.</span>
        <br>
        <br>
        <span>With climate change being a threat to the world, Sapplink places a very large focus on contributions and initiatives to minimize carbon footprint, and help restrengthen the Earth’s forests and oceans.</span>
    </div>
</div>
