/* You can add global styles to this file, and also import other style files */

// Global Variables

$gray-primary: #222222;

.title {
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    overflow-x: hidden;
}
