<div class="col-md-12 header">
    <img src="assets/logo@2x.png" class="logo">
    <span class="title">Sapplink</span>
    <nav>
        <ul class="unordered-list">
            <li><a>Home</a></li>
            <li><a>Corporate</a>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active">About Us</a></li>
                    <li><a>Management</a></li>
                    <li><a>History</a></li>
                    <li><a>Org. Goals</a></li>
                    <li><a>Initiatives</a></li>
                </ul>
            </li>
            <li><a>References</a>
                <ul>
                    <li><a>Testimonials</a></li>
                    <li><a>Associates</a></li>
                    <li><a>Projects</a></li>
                </ul>
            </li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
</div>