@import '../../../styles.scss';

.header {
    z-index: 200;
    height: 130px;
    position: absolute;
    padding-left: 10%;
    padding-top: 85px;
    min-width: 1170px !important;
    transition: 0.2s linear background-color;

    .logo {
        width: 60px;
        height: 60px;
        margin-top: -30px;
    }

    .unordered-list {
        margin-left: 40%;

        .active {
            a {
                color: $orange;
                border-bottom: 2px solid $orange;
            }
        }
    }

    span {
        padding-left: 20px;
        margin-top: 25px;
    }

    nav ul {
        float: left;
        margin-top: -55px;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        cursor: pointer;
    }

    nav ul li {
        float: left;
        list-style: none;
        position: relative;
        padding-top: 10px;
        margin-left: 80px;
        transition: 1.2s linear;
        margin-bottom: 15px;
    }

    nav ul li:hover ul {
        transition: 1.2s linear;
        display: block;
        padding-right: 45px;
        margin-top: 1px;
        text-align: left;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: white;
    }

    nav ul li ul {
        display: none;
        position: absolute;
        padding: 0px;
        margin-top: 0px;
        margin-left: -80px;
        padding-top: 5px;
    }
}

.header-fixed {
    z-index: 200;
    height: 90px;
    position: fixed;
    background-color: #1E1E1E;
    padding-left: 10%;
    padding-top: 5px;
    min-width: 1000px !important;
    transition: 0.5s linear background-color;
    min-width: 1170px !important;

    .logo {
        width: 60px;
        height: 60px;
        margin-top: -30px;
    }

    .unordered-list {
        margin-left: 40%;

        .active {
            a {
                color: $orange;
                border-bottom: 2px solid $orange;
            }
        }
    }

    span {
        padding-left: 20px;
        margin-top: 25px;
    }

    nav ul {
        float: left;
        margin-top: -55px;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        cursor: pointer;
        transition: 1.5s linear background-color;
        background-color: #1E1E1E;
    }

    nav ul li {
        float: left;
        list-style: none;
        position: relative;
        padding-top: 10px;
        margin-left: 80px;
        transition: 0.5s linear background-color;
        margin-bottom: 15px;
    }

    nav ul li:hover ul {
        transition: 0.5s linear background-color;
        display: block;
        padding-right: 45px;
        text-align: left;
        margin-top: 3px;
    }

    nav ul li:hover ul li {
        margin-top: 10px;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        width: 100%;
        color: white;
    }

    nav ul li ul {
        display: none;
        position: absolute;
        padding: 0px;
        margin-left: -80px;
        padding-top: 5px;
    }
}
