<div class="col-md-12 header">
    <img src="assets/logo@2x.png" class="logo">
    <span class="title">Sapplink</span>
    <nav>
        <ul class="unordered-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Corporate</a>
                <ul>
                    <li ><a (click)="log()">About Us</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Org. Goals</a></li>
                    <li><a href="#">Initiatives</a></li>
                </ul>
            </li>
            <li><a href="#">References</a>
                <ul>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Associates</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>