.header {
    z-index: 2;
    background-color: black;
    height: 130px;
    position: absolute;
    padding-left: 10%;
    padding-top: 25px;
    min-width: 800px;

    .logo {
        width: 60px;
        height: 60px;
        margin-top: -30px;
    }

    span {
        padding-left: 20px;
        margin-top: 25px;
    }
}