<div [class]="navBarFixed ? 'col-md-12 header-fixed' : 'col-md-12 header'">
    <img src="assets/logo@2x.png" class="logo">
    <span class="title">Sapplink</span>
    <nav (scroll)="onScroll()">
        <ul class="unordered-list">
            <li [class]="isActive(HOME)"><a (click)="navigateTo(HOME)">Home</a></li>
            <li><a style="cursor: default;">Corporate</a>
                <ul>
                    <li [class]="isActive(ABOUT)"><a (click)="navigateTo(ABOUT)">About Us</a></li>
                    <li [class]="isActive(MANAGEMENT)"><a (click)="navigateTo(MANAGEMENT)">Management</a></li>
                    <li [class]="isActive(GOALS)"><a (click)="navigateTo(GOALS)">Org. Goals</a></li>
                    <li [class]="isActive(INITIATIVES)"><a (click)="navigateTo(INITIATIVES)">Initiatives</a></li>
                    <li [class]="isActive(YACHTING)"><a (click)="navigateTo(YACHTING)">Yachting</a></li>
                </ul>
            </li>
            <li><a style="cursor: default;">References</a>
                <ul>
                    <li [class]="isActive(TESTIMONIALS)"><a (click)="navigateTo(TESTIMONIALS)">Testimonials</a></li>
                    <li [class]="isActive(ASSOCIATES)"><a (click)="navigateTo(ASSOCIATES)">Associates</a></li>
                    <li [class]="isActive(PROJECTS)"><a (click)="navigateTo(PROJECTS)">Projects</a></li>
                </ul>
            </li>
            <li [class]="isActive(CONTACT)"><a (click)="navigateTo(CONTACT)">Contact</a></li>
        </ul>
    </nav>
</div>