@import '../../../../styles.scss';

.background-image {
    background-color: $gray-primary;
    min-width: 1440px;
    z-index: 1;

    .main-title {
        position: absolute;
        font-family: Lato;
        width: 100%;
        font-weight: 700;
        font-size: 60px;
        color: white;
        text-align: right;
        margin-top: 380px;
        word-break: none;
        margin-left: -9%;
        min-width: 760px;
    }
}
.background-image-2 {
    background-color: $gray-primary;
    min-width: 1440px;
    z-index: 1;
    text-align: center;
    
    .services-title {
        position: absolute;
        font-family: Lato;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        color: white;
        margin-top: 60px;
        word-break: none;
        min-width: 1060px;
    }

    .services-provided {
        position: absolute;
        width: 100vw;
        min-width: 1100px;
    }
}
.news-container {
    text-align: center;
    height: 600px;

    .news {
        width: 100vw;
        min-width: 1100px;
        margin-top: 60px;

        .news-title {
            font-family: Lato;
            width: 100vw;
            font-weight: 700;
            font-size: 40px;
            min-width: 1060px;
        }
    }
}

.background-image-3 {
    background-color: $gray-primary;
    min-width: 1440px;
    z-index: 1;
    text-align: center;
    
    .join-title {
        position: absolute;
        font-family: Lato;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        color: white;
        margin-top: 60px;
        word-break: none;
        min-width: 1060px;
    }
        
    .join-subtitle {
        position: absolute;
        font-family: Open Sans;
        width: 100vw;
        font-weight: 300;
        font-size: 15px;
        color: white;
        margin-top: 160px;
        word-break: none;
        min-width: 1060px;
    }

    .join-team {
        position: absolute;
        width: 100vw;
        min-width: 1100px;
    }
}


