<div class="col-md-12">
    <div class="background-image">
        <app-header></app-header>
        <span class="main-title">Lets build your product, <br>and grow together.</span>
        <img src="assets/home-bg-1.png" width="100%">
    </div>
    <app-home-analytics></app-home-analytics>
    <div class="background-image-2">
        <span class="services-title">Services Commencing in 2023</span>
        <div class="services-provided">
            <app-services-provided></app-services-provided>
        </div>
        <img src="assets/services.png" width="100%">
    </div>
</div>