<div class="row">
    <div class="col-md-12">
        <div class="background-image">
            <span class="main-title">About us.</span>
            <img src="assets/about-bg@2x.png" width="100%">
        </div>

        <app-about-section></app-about-section>

        <!-- To-DO: Add History section here. -->
        <!-- <div class="background-image">
            <span class="main-title">Our history.</span>
            <img src="assets/history-bg@2x.png" width="100%">
        </div> -->
    </div>
</div>
