<div class="col-md-12 container">
    <div class="col-md-12" style="display: flex;">
        <div>
            <img src="assets/logo@2x.png" class="logo">
        </div>
        <div class="col-md-8 footer-left">
            <span class="title">Sapplink</span>
            <br>
            <br>
            <span class="subtitle">Design. Develop. Innovate.</span>
            <br>
            <span>Toronto | Istanbul</span>
            <br><br>
            <br>
            <span class="data"><u>How We Use Your Data</u></span>
            <br>
            <span class="privacy"><u>Privacy Policy</u></span>
        </div>
        <div class="col-md-4 footer-right">
            <ul class="unordered-list">
                <li><a (click)="navigateToCorporate()">Corporate</a>
                    <ul>
                        <li><a (click)="navigateToCorporate()">About us</a>
                        <li><a>Management</a></li>
                        <li><a>History</a></li>
                        <li><a>Org. Goals</a></li>
                        <li><a>Initiatives</a></li>
                    </ul>
                </li>
                <li><a>References</a>
                    <ul>
                        <li><a>Testimonials</a></li>
                        <li><a>Associates</a></li>
                        <li><a>Projects</a></li>
                    </ul>
                </li>
                <li><a>Contact</a></li>
            </ul>
            <div class="flags">
                <img src="assets/uk.png" (click)="changeLanguage(en)">
                <img src="assets/france.png" (click)="changeLanguage(fr)">
                <img src="assets/italy.png" (click)="changeLanguage(it)">
                <img src="assets/turkey.png" (click)="changeLanguage(tr)">
            </div>
        </div>
    </div>
</div>

<div class="bottom-container">
    <span class="designed">Designed and Developed by Sapplink.</span>
    <span class="reserved">2021, Sapplink. All rights reserved. <u>Terms of Use</u></span>
</div>