@import '../../../styles.scss';
.container {
    height: 350px;
}
.footer-left {
    margin-left: 10px;
    margin-top: 35px;
    width: 40vw;
    min-width: 300px;
}
.footer-right {
    float: right;
    margin-top: 40px;
    margin-left: 90px;
    width: 200px;
}
.logo {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 40px;
}
.title {
    color: $gray-primary;
    font-size: 35px;
    font-weight: 900;
    margin-top: 40px;
}

.subtitle {
    font-family: Open Sans;
    font-weight: 300;
}
.privacy, .data {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.unordered-list {
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 500;
    list-style: none;
    display: flex;
    font-size: 16px;
    li {
        margin-right: 30px;
        margin-bottom: 10px;
    }
    li ul {
        list-style: none;
        padding: 0;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
        cursor: pointer;
    }

    li ul li:hover {
        list-style: none;
        padding: 0;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        color: black;
    }
}
.flags {
    display: flex;
    margin-left: 190px;
    margin-top: 25px;

    > img {
        height: 15px;
        width: auto;
        margin-left: 20px;
    }
}

.bottom-container {
    background-color: $gray-primary;
    height: 55px;
    width: 100vw;
    min-width: 610px;

    .designed {
        color: white;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 13px;
        margin-left: 125px;
    }

    .reserved {
        color: white;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 13px;
        float: right;
        margin-right: 215px;
        margin-top: 5px;
    }
}