<div class="col-md-12 container">
    <app-analytic-detail title="Digital Transformation"
        subtitle="Take your business to the next level through our creative direction and rebranding."
        icon="assets/brand-service.png"
        [isServices]=true
    ></app-analytic-detail>

    <app-analytic-detail title="Mobile & Web App Development"
        subtitle="See your vision come to life by outsourcing your project, or by using our consultancy services to deliver your project."
        icon="assets/comp-service.png"
        [isServices]=true
    ></app-analytic-detail>

    <app-analytic-detail title="Machine Learning & AI"
        subtitle="Take advantage of state-of-the art machine learning tools and technologies to build your AI needs."
        icon="assets/fingerprint-service.png"
        [isServices]=true
    ></app-analytic-detail>
</div>
<br>
<div class="col-md-12">
    <button class="primary-button">Book Free Consultation</button>
</div>