.container {
    margin-top: 160px;
    display: flex;
    justify-content: center;

    > app-analytic-detail {
        padding: 35px;
    }
}

.consultation-button {
    width: 280px;
    height: 54px;
    background-color: #E25E0C;
    border: none;
    border-radius: 8px;
    transition: 0.2s linear;
}

.consultation-button:hover {
    width: 280px;
    height: 54px;
    color: #E25E0C;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #E25E0C;
    border-radius: 8px;
    transition: 0.2s linear;
}