<div class="col-md-12 container">
    <div class="text">
        <br>
        <span class="title">Mission</span>
        <br>
        <br>
        <span>Sapplink’s primary mission is to create breakthroughs in product design, and develop web / mobile based applications with complex business logic, employing novel technologies & operations research methods to create end-to-end solutions that provide users with unparalleled experiences whilst generating value to all stakeholders.</span>
        <br>
        <br>
        <span>Sapplink’s secondary mission is to sustain and grow its Pledge to Nature, and become a large Canadian contributor to wildlife preservation, ecosystem boosting, and oxygenation through tree planting, mainly Sequoias.</span>
        <br>
        <br>
        <br>

        <span class="title">Vision</span>
        <br>
        <br>
        <span>Sappplink’s vision is to become a notorious name in the software industry, for its unique design style, and cutting edge projects.</span>
        <br>
        <br>
        <br>

        <span class="title">Values</span>
        <br>
        <br>
        <span><strong>Trust:</strong> Mutual trust and honesty between all stakeholders involved in the delivery of a project, to go above & beyond what initial promises.</span>
        <br>
        <br>
        <span><strong>Passion:</strong> A dedication towards designing and developing the best application.</span>
        <br>
        <br>
        <span><strong>Fairness:</strong> Promotion of respect & a level playing field for all stakeholders.</span>
        <br>
        <br>
        <span><strong>Accountability:</strong> Taking responsibility of, and liability towards the completed work.</span>
        <br>
        <br>
        <br>

        <span class="title">Behind the Name</span>
        <br>
        <br>
        <span>The word Sapplink was originated from the English word ‘Sapling’, which is the word used to describe a young tree. The clever transformation of the word portrays a cultural devotion towards nature, while depicting its focus on technology.</span>
        <br>
        <br>
        <br>

        <span class="title">The Logo</span>
        <br>
        <br>
        <span>Sapplink’s logo is yet another portrayal of the devotion to its Pledge to Nature, as it depicts a singular leaf of a Sequoia tree - one of the largest living things on the planet.</span>
        <br>
        <br>
    </div>
</div>